<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<table>
    <tr>
       <th>Name</th>
        <th>Country</th>
        <th>Age</th>
        <th>Gender</th>
    </tr>
    <tr>
        <td>Felix</td>
        <td>Kenya</td>
        <td>17</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Wessy</td>
        <td>Uganda</td>
        <td>18</td>
      <td>Male</td>
    </tr>
    <tr>
        <td>Aurelia</td>
        <td>Jamaica</td>
        <td>20</td>
        <td>Female</td>
    </tr>
    <tr>
        <td>Terry</td>
        <td>America</td>
        <td>21</td>
       <td>Female</td>
    </tr>
</table>
</body>
</html>