<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lOGIN</title>
</head>
<body>
<h1>LOGIN FORM</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dicta enim est nisi sed! Asperiores ducimus earum nam neque nihil perferendis quia, soluta velit. A aliquam aliquid consequuntur cum dicta, iusto numquam officiis perspiciatis praesentium recusandae. Ab adipisci blanditiis debitis delectus deserunt eius maiores pariatur placeat quaerat tempore. Hic, tempore.
</p>
</body>
</html>